[user]
	email = nitriques@users.noreply.github.com
	name = Nicolas Brassard
[help]
	autocorrect = 1
[color]
	ui = 1
[core]
	excludesfile = ~/.gitignore_global
	abbrev = 10
	editor = vim
	pager = less --tabs=4 -E -RFX
	whitespace = trailing-space,space-before-tab,tabwidth=4
[apply]
	whitespace = fix
[rerere]
	enabled = true
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	rem = rm --cached
	cp = cherry-pick
	updatesub = submodule foreach git pull origin master
	unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
	pulls = pull --ff-only
	pullr = pull --rebase
	ff = merge --ff-only
	undo = reset --soft HEAD^
	patch = format-patch master -1 --stdout
	please = push --force-with-lease
	poush = push
	commend = commit --amend --no-edit
	search = log --no-merges -i -E --pretty='%h (%ad) - [%an] %s %d' --date=format:'%b %d %Y' --grep
	prune = fetch --prune
	active = shortlog --numbered --summary --email --no-merges --since=3months
	stash-all = stash push -m
[merge]
	conflictstyle = diff3
[push]
	followTags = 1
	recurseSubmodules = check
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff "bin"]
	textconv = hexdump -v -C
[diff "bz2"]
	binary = true
	textconv = /bin/bzcat
[diff "gzip"]
	binary = true
	textconv = /bin/zcat
[diff "tar"]
	binary = true
	textconv = tar --to-stdout -xf
[diff "tar-bz2"]
	binary = true
	textconv = tar --to-stdout -xjf
[diff "zip"]
	binary = true
	textconv = unzip -p
[transfer]
	fsckObjects = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[status]
	submodulesummary = 1
[diff]
	submodule = log
